# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.env
dist
dist-ssr
*.local
src/components/About.css
src/components/Contact.css
src/components/Footer.css
scr/components/Hero.css
src/components/Navbar.css
scr/components/Projects.css
scr/components/Skills.css

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
